banner.html.erb

<div class="search-banner">
  <!-- BUBBLE -->
  <div class="searchsection">
    <span> <h3> <strong>L</strong>aundry <strong>D</strong>elivery & Pickup </h3></span>
  </div>

  <!-- BANNER -->
  <div class="banner">

    <div class="container" id="bubble-container">
      <div class="bubble">
        <a href="">
          <img src='<%= image_path 'lavyicon.png' %>'/>
        </a>
      </div>
    </div>
  </div>

  <!-- Banner content -->
  <!-- <div id="banner-content">
    <div>
      <p>Search for your Laundry Local!</p>
    </div>
    <div>
      <%= form_with url: root_path, method: :get, remote: true do |f| %>
      <% options = options_for_select(["All"] + Boat::BOAT_TYPE.map { |value| [value, value]}) %>
      <%= f.select :boat_type, options, selected: params[:boat_type] %>
      <%#= raise %>
      <%= f.submit "Filter", id: "boat-search-submit" %>
      <% end %>
    </div>
  </div>
</div> -->
