.banner {
  color: white;
  height: 60vh;
  background-size: cover !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 62px;
  h1 {
    font-size: 60px;
    text-align: left;
    width: 67%;
    text-shadow: 3px 3px black;
  }
}

#banner-title {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#bubble-container {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  background-size: cover !important;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

.bubble {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  background-color: white;
  img { width: 104%; height: auto; }
  top: 529px;
}

@media only screen and (max-width: 600px) {
  .banner h1 {
    font-size: 35px;
    margin-top: -30px;
  }
}



// *
// {
//   outline: none;
// }


// .tb
// {
//   display: table;
//   width: 100%;
// }

// .td
// {
//   display: table-cell;
//   vertical-align: middle;
//   input
//   {
//    color: white;
//    font-family: Nunito;
//    padding: 11px;
//    margin: -1px;
//    margin-top: -53px;
//    border: 0;
//    background-color: transparent;
//    opacity: 20px;

//  }

//  button{
//    color: white;
//    font-family: Nunito;
//    padding: 13px;
//    margin: -5px;
//    margin-top: -48px;
//    border: 0;
//    background-color: transparent;
//     width: 77px;
//     height: 99px;
//     cursor: pointer;
//  }
// }


// #cover
// {
//   position: absolute;
//   top: 40;
//   left: 0;
//   right: 0;
//   width: 66%;
//   height: 54px;
//   padding: 20px;
//   margin: 36px auto 0 auto;
//   background-color: #005C66;
//   border-radius: 20px;
//   box-shadow: 0 10px 40px #005C66, 0 0 0 20px #ffffffeb;
// form
// {
//   height: 96px;
// }
// input[type="text"]
// {
//   width: 100%;
//   height: 96px;
//   font-size: 60px;
//   line-height: 1;
// }
// input[type="text"]::placeholder
// {
//   color: white;
//   font-size: 30px;
// }
// }

// .input-group{
//   text-align:center;
//   height: 65px;
//   border-radius: 27px;
//   width: 458px;
// }

.input-group-append{
  display: flex;
  justify-content: center;
  .btn-success {
    color: #fff;
    background-color: #054A53;
    border-color: #054A53;
  }
}

.searchbar{
  margin-top: 100px;
  width: 100%;
  .input-group {
    width: 100%;
  }
  .input-group form {
    width: 80%;
  }
}

#laundromat_address {
  height: 55px;
  border-radius: 25px 0 0px 25px;
}

#submit-address-btn {
  height: 50px;
  border-radius: 0 25px 25px 0;
  border: 1px solid white;
  border-left: none;
}

.searchbar.input-group {
  color: black !important;
}

@media only screen and (max-width: 600px) {

  #submit-address-btn {
    width: 59px;
  }
}

.ap-input-icon {
    border: 0;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 198px;
    outline: none;
  }

// <!-- TYPEWRITER -->
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
