<div id="sidebar">
  <h3><a href="#">location</a></h3>
  <h3><a href="#">price</a></h3>
  <h3><a href="#">ratings</a></h3>
  <h3><a href="#">delivery time</a></h3>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-default btn-lg" id="map-trigger" data-toggle="modal" data-target="#myModal">
    Map
  </button>
</div>
