<!-- Map Modal -->
<%= render 'modal-map', markers: @markers %>
<div class="container-fluid">


<div class="main-container">
<!-- Index Sidebar -->
<%= render 'index-sidebar' %>

<!-- Message Cards -->
<%= render  'messages', laundromats: @laundromats %>
</div>

</div>


<!-- WhatsHelp.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+59178000375", // WhatsApp number
            email: "kayracz@gmail.com", // Email
            call_to_action: "Contact us!", // Call to action
            button_color: "#000000", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "email,whatsapp", // Order of buttons
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /WhatsHelp.io widget -->
