<!-- Map Modal -->
<%= render 'modal-map', markers: @markers %>
<div class="container">


<div class="main-container">
<!-- Index Sidebar -->
<%= render 'index-sidebar' %>

<!-- Message Cards -->
<%= render  'messages', laundromats: @laundromats %>
</div>

</div>
