<!-- Map Modal -->
<%= render 'modal-map', markers: @markers %>
<div class="container-fluid">


<div class="main-container">
<!-- Index Sidebar -->
<%= render 'index-sidebar' %>

<!-- Message Cards -->
<%= render  'messages', laundromats: @laundromats %>
</div>

</div>

<%= render 'reviews_modal' %>




<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '8047a5e0-f098-4a81-b069-9e775be16872', f: true }); done = true; } }; })();</script>
