  <div class="main-container">
    <div id="sidebar">
      <h3><a href="#">location</a></h3>
      <h3><a href="#">price</a></h3>
      <h3><a href="#">ratings</a></h3>
      <h3><a href="#">delivery time</a></h3>
      <div
      id="map" class="bottom-right"
      style="width: 450px;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>

    <div class="message-container">

      <div class="message">
        <img class="laundry-pic" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">

        <div class="message-body">
          <p><strong>Laundry Coco's</strong></p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <p>
            We refund even if you are happy!
          </p>
        </div>
        <div class="message-name">
          <h3><strong>Duration:</strong></h3>
          <p>1 Day</p>
          <h3><strong>Phone:</strong></h3>
          <p>91154170069</p>
        </div>
        <div class="message-status">
          <p class="price">€345</p>
          <a href="#" class="btn btn-default btn-xs">Pick me!</a>
        </div>
      </div>

      <div class="message">
        <img class="laundry-pic" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">

        <div class="message-body">
          <p><strong>Laundry Coco's</strong></p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <p>
            We refund even if you are happy!
          </p>
        </div>
        <div class="message-name">
          <h3><strong>Duration:</strong></h3>
          <p>1 Day</p>
          <h3><strong>Phone:</strong></h3>
          <p>91154170069</p>
        </div>
        <div class="message-status">
          <p class="price">€345</p>
          <a href="#" class="btn btn-default btn-xs">Pick me!</a>
        </div>
      </div>

      <div class="message">
        <img class="laundry-pic" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">

        <div class="message-body">
          <p><strong>Laundry Coco's</strong></p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <p>
            We refund even if you are happy!
          </p>
        </div>
        <div class="message-name">
          <h3><strong>Duration:</strong></h3>
          <p>1 Day</p>
          <h3><strong>Phone:</strong></h3>
          <p>91154170069</p>
        </div>
        <div class="message-status">
          <p class="price">€345</p>
          <a href="#" class="btn btn-default btn-xs">Pick me!</a>
        </div>
      </div>

            <div class="message">
        <img class="laundry-pic" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">

        <div class="message-body">
          <p><strong>Laundry Coco's</strong></p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <p>
            We refund even if you are happy!
          </p>
        </div>
        <div class="message-name">
          <h3><strong>Duration:</strong></h3>
          <p>1 Day</p>
          <h3><strong>Phone:</strong></h3>
          <p>91154170069</p>
        </div>
        <div class="message-status">
          <p class="price">€345</p>
          <a href="#" class="btn btn-default btn-xs">Pick me!</a>
        </div>
      </div>

            <div class="message">
        <img class="laundry-pic" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">

        <div class="message-body">
          <p><strong>Laundry Coco's</strong></p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <p>
            We refund even if you are happy!
          </p>
        </div>
        <div class="message-name">
          <h3><strong>Duration:</strong></h3>
          <p>1 Day</p>
          <h3><strong>Phone:</strong></h3>
          <p>91154170069</p>
        </div>
        <div class="message-status">
          <p class="price">€345</p>
          <a href="#" class="btn btn-default btn-xs">Pick me!</a>
        </div>
      </div>

            <div class="message">
        <img class="laundry-pic" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">

        <div class="message-body">
          <p><strong>Laundry Coco's</strong></p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <p>
            We refund even if you are happy!
          </p>
        </div>
        <div class="message-name">
          <h3><strong>Duration:</strong></h3>
          <p>1 Day</p>
          <h3><strong>Phone:</strong></h3>
          <p>91154170069</p>
        </div>
        <div class="message-status">
          <p class="price">€345</p>
          <a href="#" class="btn btn-default btn-xs">Pick me!</a>
        </div>
      </div>

            <div class="message">
        <img class="laundry-pic" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">

        <div class="message-body">
          <p><strong>Laundry Coco's</strong></p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <p>
            We refund even if you are happy!
          </p>
        </div>
        <div class="message-name">
          <h3><strong>Duration:</strong></h3>
          <p>1 Day</p>
          <h3><strong>Phone:</strong></h3>
          <p>91154170069</p>
        </div>
        <div class="message-status">
          <p class="price">€345</p>
          <a href="#" class="btn btn-default btn-xs">Pick me!</a>
        </div>
      </div>

    </div>

  </div>

