
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 sign-up-banner">

      <div class="sign-up-pictures" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://us.123rf.com/450wm/bialasiewicz/bialasiewicz1212/bialasiewicz121200049/16685370-basket-of-dirty-and-heap-of-clean-clothes.jpg?ver=6');">
        <h2>Extra income</h2>
      </div>
      <div class="sign-up-pictures" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://2.bp.blogspot.com/-zqtzdk_rRW8/WCKJMJmn_AI/AAAAAAAAglw/Tb06irFR0sk7X34duKxetj3z7PVgNcyfACLcB/s1600/black_owned_laundrymat.jpg');">
        <h2>No inconvenience</h2>
      </div>
      <div class="sign-up-pictures" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://www.chr-apartments.com/sites/default/files/styles/504x296/public/EWilde_160615_1583.jpg?itok=1kk7uON7');">

        <h2>Flexibility</h2>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 sign-up-registration-banner">

        <video id="video" loop muted autoplay>
         <source src='https://res.cloudinary.com/dit8thfvw/image/upload/v1542998851/sample.jpg' type=video/webm>
         </video>
         <%= render "laundromats/form" %>
       </div>
     </div>

<button type="button3" class="btn btn-primary text-center">Join Lavy!</button>

 </div>

 </div>



