<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 sign-up-banner">
      <div class="sign-up-pictures" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://picsum.photos/200/200');">
        <h2>Extra income</h2>
      </div>
      <div class="sign-up-pictures" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://picsum.photos/200/200');">
        <h2>No inconvenience</h2>
      </div>
      <div class="sign-up-pictures" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://picsum.photos/200/200');">
        <h2>Flexibility</h2>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12" class="sign-up-registration-banner">
        <video id="video" loop muted autoplay>
         <source src=https://res.cloudinary.com/dit8thfvw/image/upload/v1542998851/sample.jpg type=video/webm>
         </video>
         <%= render "laundromats/form" %>
       </div>
     </div>
   </div>
 </div>
