
    <!-- new form -->

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>



<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 sign-up-banner">

      <div class="sign-up-pictures" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://us.123rf.com/450wm/bialasiewicz/bialasiewicz1212/bialasiewicz121200049/16685370-basket-of-dirty-and-heap-of-clean-clothes.jpg?ver=6');">
        <h2>Extra income</h2>
      </div>
      <div class="sign-up-pictures" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://2.bp.blogspot.com/-zqtzdk_rRW8/WCKJMJmn_AI/AAAAAAAAglw/Tb06irFR0sk7X34duKxetj3z7PVgNcyfACLcB/s1600/black_owned_laundrymat.jpg');">
        <h2>No inconvenience</h2>
      </div>
      <div class="sign-up-pictures" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://www.chr-apartments.com/sites/default/files/styles/504x296/public/EWilde_160615_1583.jpg?itok=1kk7uON7');">


<div class="registry2" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 66%), url('<%= image_path 'banner.jpeg' %>');">

    <div class="container text-center">
      <div class="wrapper">
        <h1 class="title">Register your Laundromat</h1>


        <p class="subtitle">To sign-up, please provide us with some basic information using
        the contact form below. Please use valid credentials.</p>

        <form class="registry" method="post" action="">

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 sign-up-registration-banner">

        <video id="video" loop muted autoplay>
         <source src='https://res.cloudinary.com/dit8thfvw/image/upload/v1542998851/sample.jpg' type=video/webm>
         </video>
         <%= render "laundromats/form" %>
       </div>
     </div>


          <p class="subtitle"> Name </p>
          <input type="text" class="name" placeholder="Name">

          <div>
            <p class="name-help">Please enter your first and last name.</p>
          </div>

          <p> Email </p>
          <input type="email" class="email" placeholder="Email">

          <div>
            <p class="email-help">Please enter your current email address.</p>
          </div>

          <p> Phone number </p>
          <input type="text" class="name" placeholder="Phone Number">


          <button type="button" class="btn btn-primary text-center">Join us!</button>

        </form>
      </div>
    </div>
