<h1>Laundromats#show</h1>
<% @laundromat.name %>

<div class="showimage" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.2) 50%), url('https://www.theunion.com/wp-content/uploads/2016/10/MYMLaundromat-GVU-121613-6-5.jpg');">
