
<!-- BANNER -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'banner.jpeg' %>');">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">

        <div id="banner-title">
          <div>
            <h1>Laundry Pick up & Delivery</h1>
            <!-- <p class="line-1 anim-typewriter"> Pick up & Delivery</p> -->

          </div>


          <div>
            <div class="bubble" id="bubble-container" style="background-image: url('<%= image_path 'bubble.png' %>');">
              <a href="">
              </a>
            </div>
          </div>
        </div>
        <div>

          <div class="container-fluid">
            <div class="row">
             <div class="col-xs-12">
              <div class="searchbar text-center">
                <div class="input-group" style="color: black !important;">
                 <%= simple_form_for :laundromat, url: laundromats_path, method: :get do |f| %>
                  <input type="text" class="form-control banner-address algolia-fields" placeholder="Where are you?" aria-label="" aria-describedby="basic-addon1" name="laundromat[address]">

                 </div>
                 <div class="input-group-append">
                   <%= f.submit "Start Cleaning!",class:"btn btn-success", id:"submit-address-btn" %>
                 </div>
                 <% end %>
               </div>
             </div>
           </div>
         </div>
       </div>



     </div>


   </div>
 </div>
</div>



</div>
</div>
</div>

</div>
</div>
</div>

</div>

<!--search two -->
