
<div class="search-banner">
  <!-- BUBBLE -->
  <div class="searchsection">

  <!-- BANNER -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'bannerpic.jpeg' %>');">
  <div class="banner-content">
    <h1>Laundry pick up & delivery</h1>

  <!-- Bubble -->

    <div class="container" id="bubble-container">
      <div class="bubble">
        <a href="">
          <img src='<%= image_path 'bubble.png' %>'/>
        </a>
      </div>
    </div>
  </div>

  <!--  search -- >

<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>


