
<!-- Navbar -->
<%= render "shared/navbar" %>

<!-- Banner -->
<%= render "pages/banner" %>

<!-- Container How it works-->
<div class= "container">
<div class= "howitworks" style="background-image:url('<%= image_path 'works.png' %>');">
    </div>
  </div>
<!-- Container Video -->

<!-- Footer -->
<%= render "shared/footer" %>
