.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom:20px;
  margin-bottom: 338px;

  // img {
  //   position: relative;
  //   left: 200px;
  // }
}

.avatar-large {
  width: 136px;
  height: 162px;
  border-radius: 69%;
  border-color: #0E8363;
}

.un{
  text-align:center;
}
.table1{
  font-size: 12px;
}

.title2{
  color:#04444B;
  font-family: Raleway;
  font-style: bold;
}

