// .flex-left {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   padding-bottom:30px;
//   margin-bottom: 61px;

//   // img {
//   //   position: relative;
//   //   left: 200px;
//   // }
//   .container {
//     margin-bottom: 20px;
//   }
// }

// .avatar-large {
//   width: 150px;
//   height: 150px;
//   border-radius: 69%;
//   border-color: #0E8363;
// }

// .un{
//   text-align:center;
// }
// .table1{
//   font-size: 12px;
// }

// .title2{
//   color:#04444B;
//   font-family: Raleway;
//   font-style: bold;
// }


.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom:20px;
  // img {
  //   position: relative;
  //   left: 200px;
  // }
}

.avatar-large {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: #0E8363;
}

.un{
  text-align:center;
  margin-top: 80px;
}
.table1{
  font-size: 12px;
}

.title2{
  color:#04444B;
  font-family: Raleway;
  font-style: bold;
}

.card-description-dashboard {
  color: white;
  text-align: center;
}

.rounding-dashboard {
  border-radius: 5%;
}

.color-link-dashboard {
  color: white;
  font-weight: bold;
  margin: 0 10px;
}

.color-link-dashboard:hover {
  color: orange;
  font-weight: bold
}

.height-control {
  min-height: calc(100vh - 140px)
}

