// .flex-left {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   padding-bottom:30px;
//   margin-bottom: 61px;

//   // img {
//   //   position: relative;
//   //   left: 200px;
//   // }
//   .container {
//     margin-bottom: 20px;
//   }
// }

// .avatar-large {
//   width: 150px;
//   height: 150px;
//   border-radius: 69%;
//   border-color: #0E8363;
// }

// .un{
//   text-align:center;
// }
// .table1{
//   font-size: 12px;
// }

// .title2{
//   color:#04444B;
//   font-family: Raleway;
//   font-style: bold;
// }


.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom:20px;
  // img {
  //   position: relative;
  //   left: 200px;
  // }
}

.avatar-large {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: #0E8363;
}

.un{
  text-align:center;
  margin-top: 80px;
}
.table1{
  font-size: 12px;
}

.title2{
  color:#04444B;
  font-family: Raleway;
  font-style: bold;
}

.card-description-dashboard {
  color: white;
  text-align: center;
}

.rounding-dashboard {
  border-radius: 5%;
  padding-top: 2px;
}

.card-buttons-dashboard{
  display: flex;
}

.details-dashboard{
  flex: 1 0 auto;
  width: 70px;
  padding: 14px 0 !important;
}

.link-dashboard {
  // color: white;
  // font-weight: bold;
  flex: 1 0 auto;
  background-color: #742737 !important;
  border-color: #742737 !important;
  margin-left: 10px;
  width: 70px;
  padding: 14px 0 !important;
}

.link-dashboard:hover {
  background-color: #5a1e2b !important;
  border-color: #5a1e2b !important;
}

.link-dashboard-review {
  color: white;
  font-size: 23px !important;
  flex: 1 0 auto;
  background-color: #3a7698 !important;
  border-color: #3a7698 !important;
  margin-left: 10px;
  width: 70px;
  padding: 14px 0 !important;
  margin-bottom: 0px !important;
  border-radius: 10px !important;
  text-align: center;
}

.link-dashboard-review:hover {
  color: white;
  font-size: 23px;
  background-color: #2d5e7b   !important;
  border-color: #2d5e7b   !important;
  margin-bottom: 0px;
  border-radius: 10px !important;
  text-align: center;
  text-decoration: none !important;
}

.height-control {
  min-height: calc(100vh - 140px);
}

// .btn-danger{
//   border-radius: 10px;

// }

// font-size: 13px;
//   padding-top: 0px;
//   padding-bottom: 5px;
//   margin-bottom: 5px;
