i {
  color: #005C66;
}

.footer {
  margin-top: auto;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
.footer-copyright {
  font-size: 14px;
}
