.mapboxgl-popup {
  max-width: 900px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


// #modal-map-size {
//   width: 920px;
//

.orders_map{
  margin: 0 auto
}

#map {
  width: 900px !important;
  height: 600px;
}
