.mapboxgl-popup {
  max-width: 900px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

// #modal-map-size {
//   width: 920px;
// }

// #map {
//   width: 900px;
//   height: 600px;
// }
