
.password-login{
 background: white;
 padding: 61px 81px;
 margin-top: 151px;
 margin-bottom: 85px;
 box-shadow: 1px 1px 47px rgba(0,0,0,0.1);
 h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
.btn {
  width: 100%;
  margin-bottom: 20px
}

}

@media only screen and (max-width: 600px) {

.btn {
  width: 10%;
  margin-bottom: 20px
}
}
