
.signup-login {
  background: white;
  padding: 8px 82px;
  margin-top: 84px;
  margin-bottom: 92px;
  margin-left: 233px;
  margin-right: 266px;
  border-radius: 3px;
  box-shadow: 1px 1px 47px rgba(0, 0, 0, 0.1);
  padding-left: 206px;
  padding-right: 210px;



  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}


// background: white;
// padding: 3px 6px 34px 8px;
// margin-top: 84px;
// margin-bottom: 92px;
// margin-left: 233px;
// margin-right: 307px;
// border-radius: 3px;
// box-shadow: 1px 1px 47px rgba(0, 0, 0, 0.1);
// padding-left: 206px;
// padding-right: 210px;
// }
