
<%= simple_form_for [@order, @review] do |f| %>
<%= f.input :description, as: :text %>

<div class="star-position">
  <% 5.times do |i| %>
    <i class="fas fa-star new_review_stars"></i>
  <% end %>
</div>


<%= f.hidden_field :stars, id: 'review_input' %>
<%= f.submit %>
<% end %>
