.sign-up-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-pictures {
  height: 200px;
  width: 200px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  h2 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 25px;
  }
}

.sign-up-registration-banner {
background-cover: url('`')
}

#video


.sign-up-registration {

}

.btn {
  width: 100%;
  margin-bottom: 20px
}

