


.sign-up-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.sign-up-pictures {
  height: 200px;
  width: 200px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  h2 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 25px;
  }
}

.sign-up-registration-banner {
 background-size: cover;
}

.sign-up-registration {
text-align: center;
}

#p {
 text-color: white;
}

.invalid-feedback {
  text-color: white;
}

.wrapper {
 background-image: url('https://turismo.buenosaires.gob.ar/sites/turismo/files/caminito_la_boca_1200_gente_1.jpg');

}

.btn {
  width: 100%;
  margin-bottom: 20px
}

